---
import Layout from '../components/Layout.astro';
import HomeHero from '../components/home/HomeHero.astro';
import HomeIntro from '../components/home/HomeIntro.astro';
import Map from '../components/home/Map.astro';
---

<Layout title="Keyaki Dental Clinic">
  <main>
    <div class="mb-1">
      <HomeHero />
    </div>

    <div class="mb-3">
      <HomeIntro />
    </div>
    <Map />
  </main>
</Layout>

<style>
  :root {
    text-align: center;
  }

  main {
    padding: 0rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
  }

  /* Map */
  .map {
    width: 100%;
    height: 50vh;
  }

  @media (max-width: 768px) {
    .map {
      height: 50vh;
    }
  }
</style>
