---
import Layout from '../components/Layout.astro';
import HomeHero from '../components/home/HomeHero.astro';
---

<Layout title="Keyaki Dental Clinic">
  <main>
    <HomeHero />
  </main>
</Layout>

<style>
  :root {
    text-align: center;
  }

  main {
    padding: 0rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
  }

  .header {
    display: table;
    position: relative;
    width: 100%;
    height: 20vh;
    background: url(/img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  /* Map */
  .map {
    width: 100%;
    height: 50vh;
  }

  @media (max-width: 768px) {
    .map {
      height: 50vh;
    }
  }
</style>
