---
import Layout from '../components/Layout.astro';
import FeedbackForm from '../components/FeedbackForm.astro';
---

<Layout title="Keyaki Dental Clinic">
  <main>
    <header id="top" class="header">
      <div class="text-vertical-center">
        <h1><a href="/">Keyaki Dental Clinic</a></h1>
        <h2><a href="/">Opening soon</a></h2>
      </div>
    </header>

    <div class="hidden m-1">
      Floor 2nd, S2 Tower, <a href="https://goo.gl/maps/B7PBjjhnVAafe4sK9"
        >Sun Grand City Thụy Khuê</a
      >, Hà Nội
    </div>

    <div class="hidden map m-1">
      <iframe
        width="100%"
        height="100%"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&height=500&hl=en&q=Sun%20Plaza%20Thu%E1%BB%B5%20Khu%C3%AA,%20H%C3%A0%20N%E1%BB%99i+(Keyaki%20Dental%20Clinic)&t=&z=14&ie=UTF8&iwloc=B&output=embed"
      ></iframe>
    </div>

    <div class="hidden m-1">
      <img alt="Official Zalo QR" src="/img/zalo-qr.png" style="width:20rem" />
    </div>

    <hr />

    <FeedbackForm />
  </main>
</Layout>

<style>
  :root {
    text-align: center;
  }

  main {
    padding: 0rem 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    align-items: center;
  }

  .header {
    display: table;
    position: relative;
    width: 100%;
    height: 20vh;
    background: url(/img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  /* Map */
  .map {
    width: 100%;
    height: 50vh;
  }

  @media (max-width: 768px) {
    .map {
      height: 50vh;
    }
  }
</style>
