---
import packageJson from '../../package.json';
---

<footer class="footer" title={packageJson.releasenote}>
  v{packageJson.version}
  &nbsp;
  <a class="" href="/api/joke" title=" by Netlify functions">2023</a>
</footer>
