---
import packageJson from '../../package.json';
---

<footer class="footer">
  v{packageJson.version} made with&nbsp;<a
    href="https://gurucore.com"
    class="mx-5">Gurucore</a
  > &nbsp;
  <a class="" href="/api/joke" title=" by Netlify functions">2023</a>
</footer>
