---
import packageJson from '../../package.json';
---

<footer
  class="footer"
  title={`v${packageJson.version} - ${packageJson.releasenote}`}
>
  <div class="m-1">
    © Keyaki Dental Clinic, a member of JVDC Group Co., Ltd.
  </div>
</footer>
