---
---

<header class="header">
  <img alt="Keyaki Dental Clinic" src="/img/logo-long.png" />
  <h1 class="hidden">Keyaki Dental Clinic</h1>
  <hr />
</header>

<style>
  hr {
    border: none;
    height: 3px;
    background: #504b42;
  }

  .header {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
</style>
