---
---

<header id="top" class="header">
  <div class="">
    <img alt="Keyaki Dental Clinic" src="/img/logo-long.png" />
    <h1 class="hidden">Keyaki Dental Clinic</h1>
  </div>
</header>

<style>
  .header {
    display: table;
    position: relative;
    width: 100%;
    height: 5rem;
  }
</style>
