---
import StructureData from './StructureData.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <footer class="footer">
      Made with&nbsp;<a href="https://gurucore.com" class="mx-5">Gurucore</a> &nbsp;
      <a class="" href="/api/joke" title=" by Netlify functions">2023</a>
    </footer>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0L9PZK0M2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-E0L9PZK0M2');
    </script>

    <StructureData />
  </body>
</html>

<!-- By default, Astro automatically scopes <style> CSS rules to the component. 
  You can opt-out of this behavior with the is:global directive. -->
<style is:global>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --color-bg: hsl(0, 0%, 100%);
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  html {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: 0;
    font-family: Segoe UI, sans-serif;
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  h2 {
    font-size: var(--font-size-lg);
  }

  code {
    font-family: Consolas, monospace;
  }

  a {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: beige;

    cursor: pointer;

    text-decoration: none;

    background-size: 0 100%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    background-image: linear-gradient(transparent, beige),
      linear-gradient(rgb(168, 168, 152), beige);
  }

  /* on hovering, animate the background */
  a:hover {
    background-size: 100% 100%;
    background-position: 0 100%;
  }

  .m-1 {
    margin: 1rem;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
